:root {
  --print-icon-size: 1.5em;
}

.studyinfo {
  display: flex;
  padding-top: 0.5em;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-end;
}

.studyinfo .label {
  padding-right: 1em;
}

.studyinfo .study-count,
.studyinfo .last-study-date {
  padding-right: 3em;
}

.studyinfo .study-name {
  margin-top: -0.2em;
  font-size: 1.1em;
  padding-right: 1.5em;
}

.studyinfo > .print-icon {
  width: var(--print-icon-size);
  height: var(--print-icon-size);
}

.studyinfo > .number-of-picture-icon {
  padding-top: 0.3em;
}

